{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock%}

{% block body %}

<div class="content" >
    <div class="content__text"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="300"
    data-aos-offset="0" data-aos-duration="100">
        <h1 class="title">Hi all, I'm <span class="text__main">Alina Markina</span></h1>
        <p class="sub__title mt-4">I am the author of this project. Programming is not just future job or hobby for me. It helps me implement everything I have on my mind. I like to dance, to learn foreign languages and of course <span class="text__main">to travel</span>. Maybe everyone around the world will know about my talents soon, who knows ^_^</p>
        <a href="/extraction" class="btn mt-3">Extract product</a>
    </div>
    <div class="content__img">
        <img class="me" data-aos="fade-up" src="../static/img/about_me.jpg" alt="">
    </div>
</div>

<div class="content" >
    <div class="content__img">
        <img class="me" data-aos="fade-up" src="../static/img/marginalia-productive-work.gif" alt="">
    </div>
    <div class="content__text"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="300"
    data-aos-offset="0" data-aos-duration="100">
        <h1 class="title">What <span class="text__main">libraries</span> did I use? </h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Bootstrap</li>
            <li class="list-group-item">Chart.js</li>
            <li class="list-group-item">Animate On Scroll Library (AOS)</li>
            <li class="list-group-item">Flask</li>
            <li class="list-group-item">Flask Table</li>
            <li class="list-group-item">SQLAlchemy</li>
            <li class="list-group-item">BeautifulSoup</li>
            <li class="list-group-item">Pandas</li>
          </ul>
        
    </div>
</div>

{% endblock%}