{% extends 'base.html'%} 

{% block title %}
<title>Charts for {{product_id}}</title>
{% endblock %} 

{% block body %}
<input type="hidden" id="firstChartData" value="{{firstChartData}}" />
<input type="hidden" id="secondChartData" value="{{secondChartData}}" />




<div class="content" >
    <div class="content__text">
        <h1 class="title"><span class="text__main">Pie</span> Chart</h1>
        <p class="sub__title mt-4">Total number of negative and positive recommendations</p>
    </div>
    <div class="content__img">
        <div class="diagram">
			<canvas id="firstChart"></canvas>
		</div>
    </div>
</div>

<div class="content" >
    <div class="content__text">
        <h1 class="title"><span class="text__main">Bar</span> Chart</h1>
        <p class="sub__title mt-4">How many users have given specific ratings</p>
		<a class="btn" href="/product/{{request.view_args.id}}">Go back</a>
    </div>
    <div class="content__img">
        <div class="diagram">
			<canvas id="secondChart"></canvas>
		</div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	const firstChartData = JSON.parse(
		document.querySelector("#firstChartData").value
	);
	const firstChartConfig = {
		type: "pie",
		data: {
			labels: Object.keys(firstChartData),
			datasets: [
				{
					label: "Positive/Negative opinions",
					backgroundColor: ["rgba(235,160,255, .7)", "rgba(255,0,14 ,.7)"],
					borderColor: ["rgba(238,130,138, 1)", "rgba(238,130,238 ,1)"],
					borderWidth: 1,
					data: Object.values(firstChartData),
				},
			],
		},
		options: {},
	};
	const firstChart = new Chart(
		document.getElementById("firstChart"),
		firstChartConfig
	);

	const secondChartData = JSON.parse(
		document.querySelector("#secondChartData").value
	);
	const secondChartConfig = {
		type: "bar",
		data: {
			labels: Object.keys(secondChartData),
			datasets: [
				{
					label: "Positive/Negative opinions",
					backgroundColor: ["rgba(235,160,255, .7)", "rgba(255,0,14 ,.7)"],
					borderColor: ["rgba(238,130,138, 1)", "rgba(238,130,238 ,1)"],
					borderWidth: 1,
					data: Object.values(secondChartData),
				},
			],
		},
		options: {},
	};
	const secondChart = new Chart(
		document.getElementById("secondChart"),
		secondChartConfig
	);
</script>
{% endblock %}
