{% extends 'base.html' %}

{% block title %}
<title>Products</title>
{% endblock%}

{% block body %}
<div class="d-flex" data-aos="fade-up">
	{% for productInfo in productsInfos %}
	<div class="card m-3" style="max-width: 18rem;">
		<div class="card-header">
			<a class="text-danger" href="/delete/{{productInfo.id}}">Delete</a>
		</div>
		<div class="card-body">
			<h5 class="card-title mb-4"><a href="/product/{{productInfo.id}}">{{productInfo.name}}</a></h5>
			<p class="card-text"><span class="fw-semibold">Score:</span> {{productInfo.averageScore}}</p>
			<p class="card-text"><span class="fw-semibold">Opinions:</span> {{productInfo.opinions_count}}</p>
			<p class="card-text"><span class="fw-semibold">Upsides:</span> {{productInfo.upsidesCount}}</p>
			<p class="card-text"><span class="fw-semibold">Downsides:</span> {{productInfo.downsidesCount}}</p>
		</div>
		<div class="card-footer bg-transparent">
			<div class="d-flex justify-content-around">
				<a class="btn btn__format" href="/download-json/{{productInfo.id}}">JSON</a>
				<a class="btn btn__format" href="/download-csv/{{productInfo.id}}">CSV</a>
				<a class="btn btn__format" href="/download-xlsx/{{productInfo.id}}">XLS</a>
				<a class="btn btn__format" href="/charts/{{productInfo.id}}">Charts</a>
			</div>
		</div>
	</div>
	{%endfor%}
</div>
{% endblock%}